<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a href="https://www.instagram.com/varungarg.11"
        ><i class="fa-brands fa-instagram"></i
      ></a>
      <a href="https://www.linkedin.com/in/varun-garg-680b29213/"
        ><i class="fa-brands fa-linkedin-in"></i
      ></a>
      <a href="https://wa.me/9540191777"
        ><i class="fa-brands fa-whatsapp"></i
      ></a>
    </div>
    <div class="f-info-brand">&copy; Explore Muse - Created by Varun Garg</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      &nbsp; &nbsp;
      <a href="/terms">Terms & Conditions</a>
    </div>
  </div>
</footer>
