<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Listing - Explore Muse</title>
</head>
<body>
    <h3>Create new listing</h3>
    <form method="POST" action="/listings">
        <input placeholder="Enter Title" name="listing[title]" />
        <br><br>
        <textarea placeholder="Enter Description" name="listing[desc]" ></textarea>
        <br><br>
        <input placeholder="Enter Image URL" name="listing[image]" />
        <br><br>
        <input placeholder="Enter Price" name="listing[price]" />
        <br><br>
        <input placeholder="Enter Location" name="listing[location]" />
        <br><br>
        <input placeholder="Enter Country" name="listing[country]" />
        <br><br>
        <button>Create</button>
    </form>
</body>
</html>