body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  flex: 1;
}

/* Navbar */
.navbar {
  height: 5rem;
  background-color: white;
}

.fa-compass {
  color: #ff5a5f;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
}

/* Footer */
.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socials a {
  text-decoration: none;
  color: #222222;
}

.f-info-socials i {
  margin-right: 1rem;
  font-size: 1.5rem;
}

.f-info {
  text-align: center;
  display: flex;
  height: 8rem;
  background-color: #ebebeb;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}

/* Cards */
.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}

/* .card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text p {
  font-weight: 400 !important;
}

.card-link {
  text-decoration: none;
}

/* Card Effect */

.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Create Button (New Page)  */
.create-btn {
  background-color: #ff5a5f !important;
  border: none !important;
}

/* Edit Button (Edit Page) */
.edit-btn {
  background-color: #ff5a5f !important;
  border: none !important;
}

/* Show Page  */
.show-img {
  height: 30vh;
}

/* Detail Page  */
.edit-detail-btn {
  background-color: #ff5a5f !important;
  border: none !important;
}

.show-card {
  padding-left: 0;
  padding-right: 0;
}
